/* ------------ Reset ------------ */
body {
  margin                   : 0;
  /* font-family: 'Epilogue', sans-serif; */
  background               : #282828;
  color                    : #66FF66;
  text-shadow              : 0 0 10px #33FF33;
}
/* -------------------------------- */


/* ------------ 404 ERROR ------------ */
.noPage {
  margin                   : 30vh auto;
  padding                  : 1rem ;
  font-family              : 'Epilogue', sans-serif;
  background               : rgba(220, 53, 69, 1);
  text-align               : center;
  text-shadow              : none;
  color                    : white;
  box-shadow               : 0 0 10px 7px rgba(0, 0, 0, 0.192);
}
.noPage strong {
  background               : white;
  padding                  : 6px 10px;
  border-radius            : 5px;
  color                    : rgba(220, 53, 69, 1);
}
.noPage :nth-child(2n+1) {
  font-size                : 18px;
  margin-bottom            : 2.5rem;
}
.noPage em {
  font-style               : normal;
  font-weight              : 800;
}
/* ----------------------------------- */



/* ------------ Titre messagerie ------------ */
h1 {
  letter-spacing           : 5px;
  margin                   : 3rem auto 0 auto;
  font-family              : 'Roboto Mono', monospace;
  font-weight              : 700;
  text-align               : center;
  text-transform           : uppercase;
}
.App h1 svg {
  transform                : translate(0px,4px);
  filter                   : drop-shadow(0 0 10px #33FF33);
}
/* ------------------------------------------ */



/* ------------ Se connecter ------------ */
.sign-in-container {

}
.sign-in-container h2 {
  margin-top               : 5rem;
  text-align               : center;
}

/* effet sur l'underscore */
span.console-underscore {
  display                  : inline-block;
  position                 : relative;
  top                      : -0.2em;
  left                     : 10px;
  opacity                  : 0;
  animation : effect-underscore 1s infinite;
}
@keyframes effect-underscore {
  from {
    opacity: 0;
  }
   to {
    opacity: 1;
   }
}
/* -------------------------------------- */